<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
        <title><%= htmlWebpackPlugin.options.title %></title>
        <link rel="stylesheet" type="text/css" href="styles/sandbox-client.css" media="screen" />
    </head>
    <body>
        <main id="sandbox-client-app"></main>
        <script src="sandbox-client.bundle.js"></script>
    </body>
</html>
